* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 0px;
  color: #fff;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #ffbb02;
}
.navbar-socials {
  padding-right: 40px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
.navbar-socials i {
  font-size: 24px;
  transition: all 0.5s linear;
}
.navbar-socials i:hover {
  transform: scale(1.3);
}
.navbar-socials .fa-square-facebook {
  color: blue;
}
.navbar-socials .fa-square-instagram {
  color: rgb(238, 28, 28);
}
.navbar-socials .fa-youtube {
  color: red;
}
.navbar-socials .fa-tiktok {
  color: black;
}

.container {
  background-color: #ffbb02;
  margin-left: 0;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: flex-end;
  padding: 10px;
}
.navbar-header {
  height: 100%;
}
.navbar-brand {
  height: 100%;
  width: 300px;
}
.navbar-brand > img {
  width: 130px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navbar-brand {
  height: auto;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.navbar-default ul > li > a {
  color: #ffffff !important;
  font-size: 24px;
}
.navbar-default ul > li > a:hover {
  color: #0956a4 !important;
}
.navbar-default ul > li > a b {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-collapse ul li {
  position: static !important;
}
.navbar-default .navbar-collapse ul:nth-child(2) {
  width: 100%;
}
.navbar-default .navbar-collapse ul:nth-child(2) li {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.navbar-default .navbar-collapse ul:nth-child(2) li div {
  padding: 0px;
  width: 180px;
  border: none;
}
.navbar-default .navbar-collapse ul:nth-child(2) li div a {
  /* background-color: yellow; */
  padding: 0;
  border: none;
  margin: 0;
}
.navbar-default .navbar-collapse ul:nth-child(2) li div a:hover > p {
  color: #0956a4;
}
.navbar-default .navbar-collapse ul:nth-child(2) li div a img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.navbar-default .navbar-collapse ul:nth-child(2) li div a p {
  color: rgb(19, 18, 18);
  text-align: center;
  margin-top: 5px;
  font-size: 16px;
}
.open a:focus {
  background-color: #0956a4 !important;
  color: white !important;
}
@media (max-width: 768px) {
  .navbar {
    display: block;
  }
  .navbar-brand {
    padding-top: 10px;
    padding-left: 5px;
  }
  .container {
    display: block;
  }
  .navbar-socials {
    width: 100%;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
    margin-left: 0;
  }
  .navbar-socials i {
    font-size: 20px;
  }
  .navbar-default .navbar-collapse ul:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-default .navbar-collapse ul:nth-child(2) > li {
    margin-bottom: 30px;
  }
  .navbar-default .navbar-collapse ul:nth-child(2) > li:last-child {
    margin-bottom: 0;
  }

  .navbar-nav .open .dropdown-menu .dropdown-header {
    color: #fff;
  }
  .navbar-default .navbar-collapse ul:nth-child(2) {
    width: 100%;
  }
  .navbar-default .navbar-collapse ul:nth-child(2) div {
    width: 100px;
  }
  .navbar-default .navbar-collapse ul:nth-child(2) li a {
    background-color: transparent;
  }
  .navbar-default .navbar-collapse ul:nth-child(2) li div a p {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    display: block;
  }
  .navbar-brand {
    padding-top: 10px;
  }
  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }
  .navbar-socials {
    width: 100%;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
    margin-left: 0;
  }
  .navbar-collapse .dropdown-menu {
    display: none;
  }
  .megamenu {
    margin-left: 0;
    margin-right: 0;
  }
  .megamenu > li {
    margin-bottom: 30px;
  }
  .megamenu > li:last-child {
    margin-bottom: 0;
  }
  .megamenu.dropdown-header {
    padding: 3px 15px !important;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header {
    color: #fff;
  }
}
